header {
    background-image:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../images/intro-bg.jpg);
    background-size: cover; /* Make the background cover the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100vh; /* optional: Set body height to 100 viewport height */
}

.navbar-toggler{
    /* background-color: teal; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.sm-icons .nav-link {
    padding-right: 1em;
    color: white;
}

.socialmedia{
    /* background-color: blue; */
}

.sm-icons{
    color: white;
}
